In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [39]:
import pandas as pd
import numpy as np

In [47]:
dt=pd.read_csv('/home/student/61/dataset.csv')
dt
#1
dt.head(5)
#2
dt.tail(5)
#3
dt.columns
#4
dt.drop(['Permanant City','Email.id'],axis=1)
#5
dt.rename(columns={'M/F':'Gender'})
#6
dt[(dt['Permanant City']=='Ahemdabad')&(dt['M/F']=='Female')]
#7
dt['PG Avg till now'].mean()
#8
dt1=pd.DataFrame(dt,columns=['Student_ID','Student_Name','Course','PG Avg till now'])
dt1
#9
dt[dt['Graduation_Tot']>60].head(2)
#10
dt.shape
#11
dt1=dt[dt['PG Avg till now']<=80]
dt1
dt1.drop(dt1.index)
#12
dt['M/F'].value_counts()
#13
dt['Permanant City']=dt['Permanant City'].replace(np.nan,'Ahemdabad')
#14
dt.groupby(['M/F'])['PG Avg till now'].mean()
#15
dt.iloc[3:]
dt.iloc[:9]

,Sr.no,Course,Enroll.no,Name,M/F,DOB,Permanant City,Email.id,SSC(%),HSC(%),Graduation_Tot,Degree,University,PG Avg till now
0,1,MCA,202261,Khushi,Female,25/10/01,Bhanvad,kktanna2510@gmail.com,95.00%,90.00%,560,BCA,BKNMU,75.0
1,2,MCA,202262,Sweta,Female,03/12/01,Ahemdabad,sk106@gmail.com,85.00%,96.00%,600,BCA,BKNMU,85.0
2,3,MSCIT,202263,Meet,Male,26/10/01,Veraval,meet44@gmail.com,88.00%,75.00%,520,BCA,GLS,75.0
3,4,MSCIT,202264,Arav,Male,10/02/99,Anand,arav45@gmail.com,75.00%,85.00%,450,BSCIT,GTU,86.0
4,5,MCA,202265,Darshan,Male,21/01/01,Porbandar,darshan45@gmail.com,84.00%,95.00%,521,BSCIT,MARVADI,85.0
5,6,MCA,202266,Pari,Female,02/03/01,Porbandar,pari23@gmail.com,96.00%,75.00%,589,BSCIT,NIRMA,75.0
6,7,MSCIT,202267,Rutika,Female,22/03/01,Junagadh,dt22@gmail.com,78.00%,85.00%,560,BCA,GTU,86.0
7,8,MCA,202268,Devyanshi,Female,15/10/99,Ahemdabad,rutu44@gmail.com,77.00%,85.00%,600,BCA,GLS,72.0
8,9,MCA,202269,Prashil,Male,08/12/99,Porbandar,prashil22@gmail.com,89.00%,96.00%,652,BCA,OAK,94.0