In [2]:
import numpy as np

In [7]:
#1
name = {1:"raj",2:"ravi",3:"jim",4:"rohan"} 
print(name[1])

raj

In [8]:
ol = int(input("provide a key (numeric): ")) 
print(ol in name)

provide a key (numeric): 1
True

In [11]:
#2 
name = {1:"raj",2:"ravi",3:"jim",4:"rohan"} 
ol = int(input("provide a key (numeric): ")) 
if(ol in name): 
    print("key is there") 
else: name[ol] ="day" 
print(name)

provide a key (numeric): 1
key is there
{1: 'raj', 2: 'ravi', 3: 'jim', 4: 'rohan'}

In [13]:
#3 
name = {1:"raj",2:"ravi",3:"jim",4:"rohan"}
ol = input("provide a vlaue : ") 
if (ol in name.values()):
    print("the value is there")
else : 
    print("the value is not there")

provide a vlaue : 5
the value is not there

In [14]:
#4 
student = {1:{"a":"name1","b":"age1"},2:{"c":"name2","d":"age2"},3:{"e":"name3","f":"age3"}} 
student

{1: {'a': 'name1', 'b': 'age1'},
 2: {'c': 'name2', 'd': 'age2'},
 3: {'e': 'name3', 'f': 'age3'}}

In [15]:
#5
student = {1:{"a":"name1","b":"age1"},2:{"c":"name2","d":"age2"},3:{"e":"name3","f":"age3"}}
if len(student)>0:
    print("it is filled with data")
else:
    print("it is empty")

it is filled with data

In [16]:
#6 
name = {5:"raj",2:"ravi",3:"jim",4:"rohan"}
dict(sorted(name.items()))

{2: 'ravi', 3: 'jim', 4: 'rohan', 5: 'raj'}

In [17]:
#7 
name = {5:"raj",2:"ravi",9:"jim",8:"rohan"}
student = {1:{"a":"name1","b":"age1"},2:{"c":"name2","d":"age2"},3:{"e":"name3","f":"age3"}}
student.update(name)
student

{1: {'a': 'name1', 'b': 'age1'},
 2: 'ravi',
 3: {'e': 'name3', 'f': 'age3'},
 5: 'raj',
 9: 'jim',
 8: 'rohan'}

In [18]:
#8 
print(len(student))

6

In [20]:
#9
name = {1:"raj",2:"ravi",3:"jim",4:"rohan"} 
ol = int(input("give a key to delete: "))
dict.pop(name,ol)
print(name)

give a key to delete: 2
{1: 'raj', 3: 'jim', 4: 'rohan'}

In [ ]:
#10 
name = {5:"raj",2:"ravi",9:"jim",8:"rohan"}
student = {1:{"a":"name1","b":"age1"},2:{"c":"name2","d":"age2"},3:{"e":"name3","f":"age3"}}
student.update(name)
ol =int(input("give a key: ")) 
print(student[ol])